.build/
.cache/
.coverage
.dist/
.eggs/
.env
.env.*
.git
.ipynb_checkpoints/
.pytest_cache/
.venv/
*.egg-info/
**/__pycache__/
**/*.pyc
**/*.pyd
**/*.pyo
build/
data/
dist/
htmlcov/
logs/
models/**/*.bin
models/**/*.pt
node_modules/
outputs/
