## App Variables
OPENAI_API_KEY=<YOUR_OPENAI_API_KEY> # required for LLM API calls (requires gpt-4 access)
EMAIL=<YOUR_EMAIL> # will be displayed on the frontend as a point of contact
REDIS_HOST=redis

# App credentials
USERNAME=<your username chosen in step 3 of readme>
PASSWORD=<your password chosen in step 3 of readme>
