[settings]
balanced_wrapping = true
default_section = THIRDPARTY
include_trailing_comma = true
known_first_party = paper_data_linking
length_sort = false
length_sort_sections = stdlib
line_length = 120
multi_line_output = 3
no_lines_before = LOCALFOLDER
sections = STDLIB, THIRDPARTY, FIRSTPARTY, LOCALFOLDER
